<a href="https://colab.research.google.com/github/ZeroOFBright/Data-Science/blob/Codility-Test/Codility.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd /content/drive/My\ Drive/Kaggle
!pwd

/content/drive/My Drive/Kaggle
/content/drive/My Drive/Kaggle

In [ ]:
df = pd.read_csv("realest.csv")
df

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0     53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1     55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2     56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3     58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4     64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
152   44.0      3.0   820.0   5.0  27.0     NaN       1.0     0.0        1.0
153   43.0      2.0   593.0   4.0  30.0   465.0       2.0     1.0        0.0
154   53.0      3.0   716.0   6.0  30.0   585.0       1.0     2.0        1.0
155   62.0      4.0   951.0   7.0  30.0   895.0       2.0     1.0        0.0
156    NaN      NaN     NaN   NaN   NaN     NaN       NaN     NaN        NaN

[157 rows x 9 columns]

In [ ]:
cleanData = df.dropna()
cleanData.isnull().sum()

Price        0
Bedroom      0
Space        0
Room         0
Lot          0
Tax          0
Bathroom     0
Garage       0
Condition    0
dtype: int64

In [ ]:
tax = cleanData['Tax'][(cleanData['Bathroom'] == 2) & (cleanData['Bedroom'] == 4)]
mean = tax.mean()
std = tax.std()
median = tax.median()
max = tax.max()
min = tax.min()

5      960.0
43     554.0
57     965.0
69     591.0
77     885.0
83     975.0
135    941.0
155    895.0
Name: Tax, dtype: float64

In [ ]:
dataFrame = cleanData.filter(["Space","Price"]).query("Space > 800").sort_values(by=["Price"],ascending = False)
dataFrame

      Space  Price
114  2293.0   90.0
36   2278.0   88.0
140  2277.0   88.0
88   2228.0   88.0
62   2295.0   85.0
..      ...    ...
19   1137.0   35.0
45   1142.0   35.0
71   1095.0   34.0
97   1087.0   34.0
149  1065.0   32.0

[97 rows x 2 columns]

In [ ]:
num = cleanData["Lot"].quantile(4/5)
num

39.60000000000001

In [ ]:
predict = cleanData.query("Bedroom == 3 and Space == 1500.0 and Room == 8 and Lot == 40 and Tax == 1000 and Bathroom == 2 and Garage == 1 and Condition == 0 ")
predict

Empty DataFrame
Columns: [Price, Bedroom, Space, Room, Lot, Tax, Bathroom, Garage, Condition]
Index: []

In [ ]:
import math
def solution(indices, K):
  # create fold set
  fold_set = []
  i = 0
  set_len = math.ceil(len(indices) / K)
  while i + set_len <= len(indices):
    fold_set.append(indices[i:i+set_len])
    i += set_len
  if i < len(indices):
    fold_set.append(indices[i:i+set_len])

  # print(fold_set)
  # train test
  result = []
  tmp = []
  for k_fold in range(K):
    for i in range(len(fold_set)):
      if i < K - k_fold - 1:
        result.append(fold_set[i])
      elif i > K - k_fold - 1:
        result.append(fold_set[i])
    result.append(fold_set[K - k_fold - 1])
  return result

IndentationError: ignored

In [ ]:
indices = [1, 2, 3]
K = 2
solution(indices,K)

[[1, 2], [3], [3], [1, 2]]

In [ ]:
import math


def solution(indices, K):
    # create fold set
    fold_set = []
    i = 0
    set_len = math.ceil(len(indices) / K)
    while i + set_len <= len(indices):
        fold_set.append(indices[i:i+set_len])
        i += set_len
    if i < len(indices):
        fold_set.append(indices[i:i+set_len])

    # print(fold_set)
    # train test
    result = []
    tmp = []
    for k_fold in range(K):
        for i in range(len(fold_set)):
            if i < K - k_fold - 1:
                result.append(fold_set[i])
            elif i > K - k_fold - 1:
                result.append(fold_set[i])
        result.append(fold_set[K - k_fold - 1])
    return result

indices = [1, 2, 3]
K = 2
print(solution(indices,K))

[[1, 2], [3], [3], [1, 2]]