<a href="https://colab.research.google.com/github/ZeroOFBright/Data-Science/blob/Data-Analysis-Quiz-5/Data_Analysis_Quiz_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import glob

In [ ]:
path = r'/content/drive/MyDrive/2018-12-25' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

                                 vid  gpsvalid  ...  engine_acc     city
0        /Zj/M2Xz5uW1jUr3EJZwx07SUYE         1  ...           1  Bangkok
1        avZbZZiOTZ4dltE/symL8WeJ5YQ         1  ...           1  Bangkok
2        vtCX0mW0uUEqGiIiMwoeDLaPWI4         1  ...           1  Bangkok
3        L5lLRWLfD2kID9bUcYv1W1Ivhyo         1  ...           1  Bangkok
4        I+qBYDuuYwppA8mhB9tHgK8qgEo         1  ...           1  Bangkok
...                              ...       ...  ...         ...      ...
2495272  EvPgnx9e+fxfW921HxdF0U26BaI         1  ...           1  Bangkok
2495273  Eiy+wXYL59TbKdGWBtKWcljFMhE         1  ...           0  Bangkok
2495274  1zqQ5ggVcBrKOhN566Up8xF5PfY         1  ...           1  Bangkok
2495275  a1W2s8z4+SLnU9qIdhabsYd4K6o         1  ...           0  Bangkok
2495276  UXPVlJt7F6LdhyNrW1Y1DBXCXaU         1  ...           1  Bangkok

[2495277 rows x 10 columns]

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/2018-12-25/2018-12-25.05.csv")
df1

                               vid  gpsvalid  ...  engine_acc     city
0      pjy9IwPUVhWJ4T9amOrMzh1jiIc         1  ...           1  Bangkok
1      D1yS3NBW41iKDPpAa1ebGIgoECs         1  ...           0  Bangkok
2      cD+OB3LV8PISg+ax0k8eIveBmXg         1  ...           0  Bangkok
3      al+J6JFDSlVYnj571mGQQfjPtS0         1  ...           0  Bangkok
4      8TnKtxD0Utvep2A33w2Wh3PXAiY         1  ...           0  Bangkok
...                            ...       ...  ...         ...      ...
88589  WTPX1OPguJTNoQCGxTdSIMDoqi4         1  ...           0  Bangkok
88590  89RpA2ELBuNF9x/EoaglsCtshk0         1  ...           1  Bangkok
88591  YNPfUVHADjCPLlFrCLKle6gh1VQ         1  ...           1  Bangkok
88592  iQ636QpbczfaRlYxjDoB+l/wmss         1  ...           1  Bangkok
88593  DojNVh84/JKYv2r9TzYJGOUSLCY         1  ...           0  Bangkok

[88594 rows x 10 columns]

# จำนวน taxi ใน file 2018-12-25.05.*csv*

In [ ]:
num = df1["vid"].drop_duplicates().count()
num

3485

# ความเร็วเฉลี่ยของ taxi ใน file 2018-12-25.05.csv ในขณะที่มีผู็โดยสาร และ ไม่คิดตอนความเร็วเป็น 0

In [ ]:
speed = df1["speed"][(df1["for_hire_light"] == 0) & (df1["speed"] != 0)]
speed

8        48
13       47
17       21
19       26
21       72
         ..
88568    45
88576    34
88582    36
88590    39
88592    12
Name: speed, Length: 10846, dtype: int64

In [ ]:
mean = speed.mean()
mean

37.217591738889915

# ความเร็วเฉลี่ยของ taxi หมายเลข ... ในขณะที่มีผู้โดยสาร

In [ ]:
taxi = df1[ (df1["vid"] == "bwmSJnFxrwrAUjqBcqCWOlj5f9Y") & (df1["for_hire_light"] == 0) ]
taxi

                               vid  gpsvalid  ...  engine_acc     city
7389   bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
8755   bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
10122  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
11636  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
18800  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
24580  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok
28969  bwmSJnFxrwrAUjqBcqCWOlj5f9Y         1  ...           1  Bangkok

[7 rows x 10 columns]

# ความเร็วเฉลี่ยของtaxi ที่มีผู้โดยสาร โดยไม่คิดตอนความเร็วเป็น 0

In [ ]:
speed_allday = frame["speed"][(frame["for_hire_light"] == 0) & (frame["speed"] != 0)]
speed_allday.mean()

31.08094189108873

# ความเร็วสูงสุดเฉลี่ย จาก taxi แต่ละคน ตอนมีผู้โดยสาร

In [ ]:
max_speed = frame.filter(["vid","speed","for_hire_light"]).query("for_hire_light == 0 and speed != 0").groupby("vid").max().mean()
max_speed

speed             76.852551
for_hire_light     0.000000
dtype: float64

# เวลาที่ Taxi มีจำนวนมากที่สุด

In [ ]:
frame["timestamp"] = pd.to_datetime(frame["timestamp"])
group_time = frame.filter(["vid","timestamp"]).groupby([pd.Grouper(key='timestamp',freq='1H')]).vid.nunique()
group_time

timestamp
2018-12-25 00:00:00    3507
2018-12-25 01:00:00    3415
2018-12-25 02:00:00    3367
2018-12-25 03:00:00    3334
2018-12-25 04:00:00    3364
2018-12-25 05:00:00    3485
2018-12-25 06:00:00    3616
2018-12-25 07:00:00    3726
2018-12-25 08:00:00    3739
2018-12-25 09:00:00    3818
2018-12-25 10:00:00    3855
2018-12-25 11:00:00    3872
2018-12-25 12:00:00    3928
2018-12-25 13:00:00    3957
2018-12-25 14:00:00    4009
2018-12-25 15:00:00    3988
2018-12-25 16:00:00    3964
2018-12-25 17:00:00    3931
2018-12-25 18:00:00    3912
2018-12-25 19:00:00    3969
2018-12-25 20:00:00    3930
2018-12-25 21:00:00    3820
2018-12-25 22:00:00    3742
2018-12-25 23:00:00    3661
Freq: H, Name: vid, dtype: int64

In [ ]:
group_time.argmax()

14